@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-text: black;

  color-scheme: dark light;
}


@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light dark;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-text: white;

    color: var(--primary-text);
  }
}

body {
  font-family: 'Righteous', sans-serif;
  font-size: 48px;
}